:root {
    --colorText: #fff;
    --colorTextButton: #FDF5FF;
    --colorTextAdd: 255, 255, 255;
    --colorButton: #FF6E30;
    --colorBackground: #1E252B;
    --colorInputBackground: #283036;
    --colorBackgroundSecondary: #f5f4fa;
}

body {
    background-color: var(--colorBackground);
    color: var(--colorText);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.66;
    font-size: 16px;
    font-style: normal;
}


.container {
    max-width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.header {
    padding-top: 26px;
}

.header-container, .header-photo, .header-menu, .header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-photo{
    gap: 21.37px;   
    color: var(--colorText);
}
.header-title-logo, .footer-title-logo{
    font-size: 22px;
    font-weight: 600;
    color: rgba(var(--colorTextAdd), 90%);
}
.header-link-logo{
    height: 20.95px;
}
.header-menu, .header-login {
    color: rgba(var(--colorTextAdd), 55%);
    gap: 41px;
}

.header-img {
    width: 19.38px;
    height: 20.95px;
}
.header-nav{
    padding-left: 257px;
    padding-right: 193px;
}
.login-button{
    background-color: var(--colorButton);
    border-radius: 8px;
    padding: 12px 28px 12px 28px;
    color: var(--colorTextButton);
}
.menu-item {
    position: relative;
    display: flex;
    align-items: center;
}
.login-link{
    font-weight: 600;
}
.login-link:nth-child(1){
    color: rgba(var(--colorTextAdd), 78%);
}

.chevron-menu::after {
    content: '';
    width: 18px; 
    height: 18px; 
    background-image: url('../img/menu-icon/chevron-down.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.hero-container{
    display: flex;
    flex-direction: row;

}
.hero{
    background-image: url(../img/hero-bg/hero-bg.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;  
}

.hero-flex{
    padding-top: 104px;
}
.hero-title{
    font-size: 50px;
    line-height: 140%;
    padding-bottom: 30px;
}
.hero-text{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 60px;
}
.hero-search {
    display: flex;
    align-items: center;
    background: var(--colorInputBackground);
    border-radius: 15px;
    padding: 8px 11.04px 8px 18.06px;
    max-width: 497px;
}

.hero-input {
    border: none;
    background: none;
    color: var(--colorText);
    flex: 1;
    outline: none;  
}

.hero-input::placeholder {
    color: rgba(var(--colorTextAdd), 38%);
}

.hero-button {
    background-color: var(--colorButton);
    font-weight: 600;
    color: var(--colorText);
    padding: 12px 36.12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.hero-button:hover{
    background-color: #ff7f24;
}
.hero-input, .contributor-input{
    font-weight: 400;
    font-size: 14px;
}
.hero-button, .contributor-button{
    font-weight: 600;
}

.network-list{
    display: flex;
    gap: 30px;
    padding-top: 110px;
}

.tools-title_subtitle h2{
    padding: 191.85px 384px 20px 385px;
    text-align: center;
}
.tools-title_subtitle p{
    padding: 0px 398px 90px 399px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    
}
.tools-title{
    font-size: 48px;
    font-weight: 130%;
}
.tools-text{
    font-size: 18px;
}
.name-item-title, .block-item-title{
    font-size: 24px;
}
.name-item-text, .block-item-text{
    font-weight: 400;
    font-size: 18px;
}
.card-description{
    font-weight: 400;
    
}
.card-link{
    font-weight: 600;
}
.newcomer-description{
    font-weight: 400;
    font-size: 14px;
}
.tools-button{
    font-size: 20px;
}
.brand-title{
    font-size: 24px;
}
.updates-title, .contributor-title{
    font-size: 48px;

}
.updates-text, .updates-button{
    font-size: 18px;
}
.developer-name{
    font-size: 26px;
}
.developer-position{
    font-weight: 400;
}
.developer-text{
    font-size: 14px;
    font-weight: 400;
}

.contributor-subtitle{
    font-size: 18;
}
.footer-list-item:nth-child(3){
    font-weight: 400;
    font-size: 14px;
    color: rgba(var(--colorTextAdd), 55%);

}
.info-item-title{
    font-size: 20px;    
}
.info-item, .hero-text,.tools-text,.updates-text,.newcomer-description,.developer-position,.contributor-subtitle{
    color: rgba(var(--colorTextAdd), 55%);
}
.name-item-title,.block-item-title,.developer-name,.developer-text{
    color: rgba(var(--colorTextAdd), 78%);
}
.header-title-logo,.hero-title,.tools-title,.updates-title,.contributor-title,.footer-title-logo,.info-item-title{
    color: rgba(var(--colorTextAdd), 90%);
}







