:root {
    --colorText: #fff;
    --colorTextButton: #FDF5FF;
    --colorTextAdd: 255, 255, 255;
    --colorButton: #FF6E30;
    --colorBackground: #1E252B;
    --colorInputBackground: #283036;
    --colorBackgroundSecondary: #f5f4fa;
    --colorTollsFree: 255,165,55;
    --colorBrand: 44, 53, 61;
}


body {
    background-color: var(--colorBackground);
    color: var(--colorText);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.66;
    font-size: 16px;
    font-style: normal;
}


.container {
    max-width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.header {
    padding-top: 26px;
}

.header-container, .header-photo, .header-menu, .header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-photo{
    gap: 21.37px;   
    color: var(--colorText);
}
.header-title-logo, .footer-title-logo{
    font-size: 22px;
    font-weight: 600;
    color: rgba(var(--colorTextAdd), 90%);
}
.header-link-logo{
    height: 20.95px;
}
.header-menu, .header-login {
    color: rgba(var(--colorTextAdd), 55%);
    gap: 41px;
}

.header-img {
    width: 19.38px;
    height: 20.95px;
}
.header-nav{
    flex-grow: 1;
}
.login-button{
    background-color: var(--colorButton);
    border-radius: 8px;
    padding: 12px 28px;
    color: var(--colorTextButton);
}
.menu-item {
    position: relative;
    display: flex;
    align-items: center;
}
.login-link{
    font-weight: 600;
}
.login-link:nth-child(1){
    color: rgba(var(--colorTextAdd), 78%);
}

.chevron-menu::after {
    content: '';
    width: 18px; 
    height: 18px; 
    background-image: url('../img/menu-icon/chevron-down.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.hero-container{
    display: flex;
    flex-direction: row;

}
.hero{
    background-image: url(../img/hero-bg/hero-bg.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;  
}

.hero-flex{
    padding-top: 104px;
}
.hero-title{
    font-size: 50px;
    line-height: 140%;
    padding-bottom: 30px;
}
.hero-span{
    color: var(--colorButton);
}
.hero-text{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 60px;
}
.hero-search {
    display: flex;
    align-items: center;
    background: var(--colorInputBackground);
    border-radius: 15px;
    padding: 8px 11.04px 8px 18.06px;
    max-width: 497px;
}

.hero-input {
    border: none;
    background: none;
    color: var(--colorText);
    flex: 1;
    outline: none;  
}

.hero-input::placeholder {
    color: rgba(var(--colorTextAdd), 38%);
}

.hero-button {
    background-color: var(--colorButton);
    font-weight: 600;
    color: var(--colorText);
    padding: 12px 36.12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.hero-button:hover{
    background-color: #ff7f24;
}
.hero-input, .contributor-input{
    font-weight: 400;
    font-size: 14px;
}
.hero-button, .contributor-button{
    font-weight: 600;
}

.network-list{
    display: flex;
    gap: 8px;
    padding-top: 110px;
}
.tools{
    padding-top: 200px;
}
.tools-title{
    padding-bottom: 25px;
    text-align: center;
}
.tools-text{
    padding: 0px 398px 90px 399px;
    text-align: center;
    font-size: 18px;
}
.tools-title{
    font-size: 48px;
    font-weight: 130%;
}

.tools-cards{
    display: grid;
    grid-template-columns: repeat(3, 392px);
    column-gap: 25px;
    row-gap: 15px;
    padding-bottom: 94px;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 33px;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s; 
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(81, 80, 80, 0.168);
}

.card::before {
    content: '';
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top right, transparent 1%, transparent 25%);
    transition:  0.3s;
    z-index: -1;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover .card-description {
    color: var(--colorText);
}

.card:hover .name-item-text {
    color: rgba(var(--colorTollsFree));
}

.card:hover::before {
    background: radial-gradient(circle at top right, #ffac4d3b 1%, #1E252B 25%);
}

.card-name {
    display: flex;
    flex-direction: row;
}

.name-tool {
    padding-left: 30px;
}

.name-item-title, .name-title {
    font-size: 24px;
}

.name-item-text, .name-subtitle {
    color: rgba(var(--colorTollsFree), 55%);
    font-weight: 400;
    font-size: 18px;
}

.card-description {
    font-weight: 400;
    padding: 30px 0px;
}

.card-visit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    font-weight: 600;
    color: rgba(var(--colorTextAdd), 55%);
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    padding: 9px 35px 9px 35px;
}

.card-button:hover {
    background-color: var(--colorButton);
    color: var(--colorText);
}


.tools-button {
    position: relative;
    font-size: 20px;
    background: none;
    color: var(--colorButton);
    border: 1px solid #595959;
    border-radius: 8px;
    cursor: pointer;
    padding: 18px 38px;
    margin-left: 520px;
    overflow: hidden;
    transition: color 0.3s;
}

.tools-button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorButton);
    transition: top 0.3s, opacity 0.3s;
    z-index: -1;
}

.tools-button:hover::before {
    top: 0;
    opacity: 0.8;
}

.tools-button:hover {
    color: #fff;
}


/* -------------------------------------------------------------------- */

.brands{
    padding: 200px 0px;
}
.brand {
    position: relative;
    padding: 55px 82px;
    border-radius: 25px;
    overflow: hidden; 
    z-index: 0; 
}

.brand::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle at 1% 1%, rgba(153, 73, 84, 0.627) 1%, rgba(44, 53, 61, 0.216) 10%);
    z-index: -1; 
}
.brand-title{
    font-size: 24px;
    padding: 0px 346px 55px 346px;
}
.brands-photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------------- */







.newcomer-tools {
    display: flex;
}

.newcomer-updates {
    display: flex;
    flex-direction: column;
    padding-right: 197px;
}

.newcomer-blocks {
    display: grid;
    grid-template-columns: repeat(2, 288px);
    column-gap: 24px;
    row-gap: 50px;
    
    justify-content: center; 
}

.newcomer-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; 
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(81, 80, 80, 0.168);
    padding: 20px;
}

.newcomer-card:hover::before {
    background: radial-gradient(circle at top right, #ffac4d3b 1%, #1E252B 25%);
}

.newcomer-card:hover .card-description {
    color: var(--colorText); 
}

.newcomer-card:hover .name-subtitle {
    color: rgba(var(--colorTollsFree)); 
}

.newcomer-card:hover::before {
    content: '';
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.newcomer-name{
    display: flex;
    flex-direction: row;
}
.name-text{
    padding-left: 30px;
}
.newcomer-description{
    font-weight: 400;
    font-size: 14px;
    padding: 30px 0px;
    
}
.newcomer-visit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.newcomer-card:hover .newcomer-description {
    color: var(--colorText);
}
.newcomer-buton{
    font-weight: 600;
    padding: 12px 36.12px;
    cursor: pointer;
    color: rgba(var(--colorTextAdd), 55%);
    background: none;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}
.newcomer-buton:hover {
    background-color: var(--colorButton);
    color: var(--colorText);
}





/* -------------------------------------------------------------------- */
.updates-title, .contributor-title{
    font-size: 48px;

}
.updates-text {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 60px;
}
.updates-button{
    font-size: 18px;
    padding: 16px 40px 15px 40px;
    text-align: center;
    border: none;
    background-color: var(--colorButton);
    color: var(--colorText);
    border-radius: 8px;
}

/* -------------------------------------------------------------------- */

.developers{
    padding-top: 200px;
}
.developer {
    display: grid;
    grid-template-columns: 180px 399px 500px 180px; 
    column-gap: 25px;
    row-gap: 15px;
    padding-bottom: 100px;
    justify-content: center;
}

.dev-arrow_left, .dev-arrow_right{
    position: relative;
}
.dev-arrow_left::before{
     content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/developer/arrow_left.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    
}
.dev-arrow_right::before{
     content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/developer/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    
}

.developer-data {
    position: relative;
}

.developer-data::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/developer/developer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1; 
}



.name-position{
    background-color: #595959;
    margin: 372px 4px 29px 130px;
}
.name-position {
    background-color: rgba(48, 39, 32, 0.9); /* Полупрозрачный белый фон */
    background-image: linear-gradient(to top left, rgba(0, 0, 255, 0.3), transparent); /* Градиентный эффект внизу справа */
    color: white;
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Добавляем немного отступа для текста */
} 
.developer-name{
    font-size: 26px;
}
.developer-position{
    font-weight: 400;
}
.developer-text{
    color: rgba(var(--colorTextAdd), 78%);
    font-size: 14px;
    font-weight: 400;
    margin-top: 128px;
    margin-left: 57px;
    line-height: 2.14;

}
.developers-lines {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/developer/lines.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.developers-lines {
    
    background-image: url(../img/developer/lines.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



.contributor{
    padding-top: 250px;
    padding-bottom: 240px;
}
.contributor-title{
    margin: 0 auto;
    padding-bottom: 25px ;
    text-align: center;
}
.contributor-subtitle{
    padding-bottom: 100px;
    text-align: center;
    font-size: 18px;
}
.contributor-search {
    display: flex;
    align-items: center;
    background: var(--colorInputBackground);
    border-radius: 15px;
    margin: 0px 337px 0px 338px;
    padding: 8px 11.04px 8px 18.06px;
}

.contributor-input{
    border: none;
    background: none;
    color: var(--colorText);
    flex: 1;
    outline: none;  
}

.contributor-input::placeholder {
    color: rgba(var(--colorTextAdd), 38%);
}

.contributor-button {
    background-color: var(--colorButton);
    font-weight: 600;
    color: var(--colorText);
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.contributor-button:hover{
    background-color: #ff7f24;
}
.contributor-subtitle{
    font-size: 18;
}



.footer {
    padding: 70px 0px 98px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  

  
  .footer-lists {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-list {
    max-width: 260px;
  }

  .footer-list-item{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 12px;
  }
  
  .footer-title-logo {
    font-size: 22px;
  }
  
  .info-lists {
    display: flex;
    justify-content: space-between;
    gap: 115px;
  }
  
  .footer-list-info {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-list-subtitle{
    padding-top: 25px;
    padding-bottom: 21px;
  }
  .info-item-title {
    font-size: 20px;   
    padding-bottom: 20px;
    display: block;
  }
  .info-item {
    padding-bottom: 10px;
  }

.info-item, .hero-text,.tools-text,.card-description,.updates-text,.newcomer-description,.developer-position,.contributor-subtitle,.footer-list-item{
    color: rgba(var(--colorTextAdd), 55%);
}
.name-item-title,.name-title,.developer-name,.developer-text.name-title{
    color: rgba(var(--colorTextAdd), 78%);
}
.header-title-logo,.hero-title,.tools-title,.updates-title,.contributor-title,.footer-title-logo,.info-item-title,.footer-list-subtitle{
    color: rgba(var(--colorTextAdd), 90%);
}







